certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Caching==1.6.0
humanize==0.5.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
markdown2==2.3.7
MarkupSafe==1.1.0
requests==2.21.0
urllib3==1.24.1
Werkzeug==0.14.1
