{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Error: {{ title }}</h1>
        <p class="lead">{{ details }}</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button">Go home</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if message %}
            <h2>Message:</h2>
            <pre>{{ message }}</pre>
            {% endif %}
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}
