{% extends "base.html" %}
{% block title %}{{ project.full_name }}{% endblock %}
{% block head %}
<!-- highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/cpp.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ project.full_name }}</h1>
        <p class="lead">{{ project.short_description }}</p>
        <hr class="my-4">
        <p>
            Durée estimée : <span class="badge badge-danger">{{ project.computed.duration }} s</span>
            <br>
            B.O.M. :
            {% for component in project.computed.components %}
            {{ component }}
            <span class="badge badge-dark">{{ component.full_name }} <span class="badge badge-light">{{ component.quantity|string if component.quantity }} {{ component.unit if component.unit }}</span></span>
            {% endfor %}
            <br>
            Outils nécessaires :
            {% for tool in project.computed.tools %}
            <span class="badge badge-success">{{ tool.full_name }}</span>
            {% endfor %}
            <!--
            <br>
            Compétences requises :
            {% for skill in project.computed.skills %}
            <span class="badge badge-success">{{ skill.name }}</span>
            {% endfor %}
            -->
        </p>
        <p class="text-right"><a class="btn btn-primary" href="{{ request.path }}/project/edit" role="button">Éditer</a></p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Présentation du projet</h2>
            <div class="alert alert-danger" role="alert">
                Attention : Cette documentation est fournie à titre informatif. En aucun cas l'auteur de cette documentation ne peux être tenu responsable d'un éventuel problème.
            </div>
            {% if project.featured_image.image.url %}
            <figure class="figure">
                <img src="{{ project.featured_image.image.url }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">{{ project.featured_image.image.caption }}</figcaption>
            </figure>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if project.contributors %}
        <div class="col-md-4">
            <h2>Contributeurs</h2>
            <ul>
                {% for contributor in project.contributors %}
                <li>{{ contributor.full_name }} {{ '('+contributor.role+')' if contributor.role }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if project.links %}
        <div class="col-md-4">
            <h2>Liens</h2>
            <ul>
                {% for link in project.links %}
                <li><a href="{{ link.url }}">{% if link.fa5_icon %}<i class="{{ link.fa5_icon }}"></i> {% endif %}{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {% if project.steps %}
    {% for step in project.steps %}
    <hr>
    <div class="row">
        <div class="col-md-3">
            <!-- menu of the step -->
            {% if step.duration %}
            <button type="button" class="btn btn-sm btn-danger">{{ step.duration }} s</button><br/>
            {% endif %}

            {% if step.inputs %}
            {% for input in step.inputs %}

            {% if input.component %}
            <button type="button" class="btn btn-sm btn-dark">{{ input.component.full_name }} <span class="badge badge-light">{{ input.component.quantity|string if input.component.quantity }} {{ input.component.unit if input.component.unit }}</span></button><br/>
            {% endif %}

            {% if input.tool %}
            <button type="button" class="btn btn-sm btn-success">{{ input.tool.full_name }}</button><br/>
            {% endif %}

            {% endfor %}
            {% endif %}

        </div>
        <div class="col-md-9">
            <!-- body of the step -->
            <h2>Étape {{ loop.index }} : {{ step.title }}</h2>

            {% if step.images %}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in step.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {{ 'class="active"' if loop.index == 1 }}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in step.images %}
                    <div class="carousel-item {{ 'active' if loop.index == 1 }}">
                        <img src="{{ image.url }}" class="d-block w-100 img-thumbnail">
                        {% if image.caption %}
                        <div class="carousel-caption d-none d-md-block">
                            <p>{{ image.caption }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}

            {% if step.content %}
            {% for item in step.content %}

            {% if item.paragraph %}
            <div>{{ item.paragraph.content|safe }}</div>
            {% endif %}

            {% if item.alert %}
            <div class="alert alert-{{ item.alert.class }}" role="alert">
                {{ item.alert.content }}
            </div>
            {% endif %}

            {% if item.image %}
            <div>
                <figure class="figure">
                    <img src="{{ item.image.url }}" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">{{ item.image.caption }}</figcaption>
                </figure>
            </div>
            {% endif %}

            {% if item.youtube %}
            <div>
                <iframe width="854" height="480" src="https://www.youtube.com/embed/{{ item.youtube.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% endif %}

            {% if item.code %}
            <figure class="highlight">
                <pre><code class="{{ item.code.language }}">{{ item.code.source }}</code></pre>
            </figure>
            {% endif %}

            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}




</div> <!-- /container -->
{% endblock %}
