{% extends "base.html" %}
{% block title %}{{ project.full_name }}{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ project.full_name }}</h1>
        <p class="lead">{{ project.short_description }}</p>
        <hr class="my-4">
        <p>
            Durée estimée : <span class="badge badge-danger">{{ project.computed.duration }} heures</span>
            <br>
            B.O.M. :
            {% for component in project.computed.components %}
            <span class="badge badge-dark">{{ component.name }} <span class="badge badge-light">{{ component.quantity|string if component.quantity }} {{ component.unit if component.unit }}</span></span>
            {% endfor %}
            <br>
            Compétences requises :
            {% for skill in project.computed.skills %}
            <span class="badge badge-success">{{ skill.name }}</span>
            {% endfor %}
        </p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Présentation du projet</h2>
            <div class="alert alert-danger" role="alert">
                Attention : Cette documentation est fournie à titre informatif. En aucun cas l'auteur de cette documentation ne peux être tenu responsable d'un éventuel problème.
            </div>
            {% if project.featured_image.url %}
            <img src="{{ format_url(project.featured_image.url, project.base_url) }}" class="d-block w-100 img-thumbnail">
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if project.contributors %}
        <div class="col-md-4">
            <h2>Contributeurs</h2>
            <ul>
                {% for contributor in project.contributors %}
                <li>{{ contributor.full_name }} {{ '('+contributor.role+')' if contributor.role }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if project.links %}
        <div class="col-md-4">
            <h2>Liens</h2>
            <ul>
                {% for link in project.links %}
                <li><a href="{{ format_url(link.url, project.base_url) }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {% if project.steps %}
    {% for step in project.steps %}
    <hr>
    <div class="row">
        <div class="col-md-3">
            <!-- menu of the step -->
            {% if step.duration %}
            <button type="button" class="btn btn-sm btn-danger">{{ step.duration }} heures</button>
            {% endif %}

            {% if step.components %}
            {% for component in step.components %}
            <button type="button" class="btn btn-sm btn-dark">{{ component.name }} <span class="badge badge-light">{{ component.quantity|string if component.quantity }} {{ component.unit if component.unit }}</span></button>
            {% endfor %}
            {% endif %}

            {% if step.skills %}
            {% for skill in step.skills %}
            <button type="button" class="btn btn-sm btn-success">{{ skill.name }}</button>
            {% endfor %}
            {% endif %}

        </div>
        <div class="col-md-9">
            <!-- body of the step -->
            <h2>Étape {{ loop.index }} : {{ step.title }}</h2>

            {% if step.images %}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in step.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {{ 'class="active"' if loop.index == 1 }}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in step.images %}
                    <div class="carousel-item {{ 'active' if loop.index == 1 }}">
                        <img src="{{ format_url(image.url, project.base_url) }}" class="d-block w-100 img-thumbnail">
                        {% if image.caption %}
                        <div class="carousel-caption d-none d-md-block">
                            <p>{{ image.caption }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}

            {% if step.alerts %}
            {% for alert in step.alerts %}
            <div class="alert alert-{{ alert.class }}" role="alert">
                {{ alert.message }}
            </div>
            {% endfor %}
            {% endif %}

            <p>{{ step.content }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}




</div> <!-- /container -->
{% endblock %}
